@use "../../css-files/mixins" as *;
@use "../../css-files/variables" as *;

.home-page {
	width: 100%;
	height: 100vh;
	background-color: rgb(225, 192, 149);
	@include fAround(column);
}
.content-menu {
	width: 50%;
	height: 30vh;
	background-color: yellowgreen;
	@include centered;
	ul {
		li {
			font-size: 1.2rem;
			a {
				text-decoration: none;
				font-size: 1.2rem;
			}
		}
	}
}
