@use "../../css-files/mixins" as *;
@use "../../css-files/variables" as *;

.home-page {
	width: 100%;
	height: 100vh;
	background-color: rgb(21, 19, 14);
	background-image: url('../../images/wheels.jpg');
	background-size: cover;
	background-position: center;
	// @include fCenter(row);
	display: flex;
	justify-content: flex-end;
	padding: 5rem;
}

.drop-content {
	width: 100%;
	height: 100%;
	ul {
		background-color: $myYellow2;
		padding: 3px;
		li {
			list-style: none;
			margin: 0.2rem auto;
			a {
				text-decoration: none;
				color: rgb(71, 64, 64);
				text-transform: uppercase;
				font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
					sans-serif;
				&:hover {
					color: rgb(141, 126, 126);
				}
			}
		}
	}
}
