@use "../../css-files/mixins" as *;
@use "../../css-files/variables" as *;

.container {
	margin: 8vh auto;
	width: 100%;
	height: 90vh;
	perspective: 1000px;
	@include RAM(300px, 1fr, 0.5);
	padding: 0.5rem;
}
.businessCard {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);
	height: 40vh;
	@include fBetween(column);
	padding-top: 5px;
	border-radius: 5px;
	user-select: none;
	transition: transform 250ms;
	&:hover {
		transform: translateZ(10px);
		img {
			transition-delay: 100ms;
			transform: rotateY(0deg);
		}
	}
	img {
		width: clamp(25%, 60px + 5vw, 45%);
		transform: rotateY(10deg);
		transition: transform 250ms;
	}

	.infoContainer {
		text-align: center;
		width: 100%;
		padding: 0.5rem;
		border-top: $bd-white;
		h2 {
			color: rgb(39, 94, 107);
		}
		p {
			@include fBetween(row);
			font-size: clamp(0.5rem, 3vw, 1rem);
		}
		span {
			color: rgb(39, 94, 107);
			font-size: clamp(0.6rem, 3vw, 1rem);
			text-transform: capitalize;
		}
	}
}
