.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(65, 75, 78);
	color: white;
	height: 8vh;
	ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 50%;
		li {
			list-style: none;
		}
	}
	.nav__links {
		color: white;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: red;
		}
	}
}

@media only screen and (max-width: 800px) {
	.nav {
		ul {
			width: 50%;
		}
	}
	.nav__links {
		font-size: 0.7rem;
	}
}
