@use "../../css-files/mixins" as *;
@use "../../css-files/variables" as *;

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	@include fAround(row);
	background-color: rgb(65, 75, 78);
	color: white;
	height: 6vh;
	z-index: 1000;
	ul {
		@include fAround(row);
		width: 50%;
		li {
			list-style: none;
		}
	}
	.nav__links {
		color: $myYellow2;
		text-decoration: none;
		cursor: pointer;
		transition: color 50ms ease-in;
		&:hover {
			color: #ecece6;
		}
		&:focus {
			background-color: rgba(255, 255, 255, 0.637);
			border: none;
			outline: none;
			padding: 2px 5px;
		}
	}
}

@media only screen and (max-width: 770px) {
	.nav {
		ul {
			position: absolute;
			top: 0;
			right: 0;
			width: 20%;
			height: 100%;
			@include fAround(column);
			justify-content: flex-start;
			overflow-y: scroll;
			padding-right: 5px;
		}
	}
	.nav__links {
		font-size: 0.7rem;
	}
}
